<!doctype html>
<html>

  <head>
    <title>List of all games in <%=shopData.shopName%></title> <!-- change -->
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <body>

    <h1><%=shopData.shopName%> Shop</h1> <!-- change -->
    
    <h2>All the games that we sell!</h2>

    <ul> <!-- change -->
      <% availableBooks.forEach(function(book) { %> 
        <li><%= book.name %>, £<%= book.price %>, By: <%= book.author_id %></li>
      <% }) %>
    </ul>

    </body>
</html>
