<!doctype html>
<html>

  <head>
    <title>Weather Forecast</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <!-- nav -->
  <nav>

    <ul class="nav-list">
      <li><a href="/">HOME</a></li> 
    </ul>
  
  </nav>

  <body>

    <h1><%=shopData.shopName%> Shop</h1>

    <h2>The weather forecast for different cities</h2>

    <!-- weather of london right now  -->
    <p><a href="/londonnow"> -> London right now <- </a></p>

    <!-- form to search for a city to get the weather results -->
    <form action="/weather" method="POST">
      <p>Search for other cities:</p>
      <input id="weather_search" type="text" name="city_search" required> <!-- type in the city name -->
      <input type="submit" value="Search" class="button"> <!-- submit button to search for city -->
    </form>
    
    <br>
    
    <!-- display the weather results -->
      <% if (weatherForecast) { %>
        <div class="weather-results">
        <p>Weather in <b><%= weatherForecast.name %></b>:</p> <!-- the city name -->
        <p>The temperature is: <%= weatherForecast.temp %> degrees</p> <!-- the temperature -->
        <p>The humidity is: <%= weatherForecast.humidity %></p> <!-- the humidity -->
        <p>The wind speed is: <%= weatherForecast.wind %></p> <!-- the wind speed -->
        <p>The time is: <%= weatherForecast.timezoneDisplay %></p> <!-- the timezones -->
      </div>
      <% } %>
      
    </body>
</html>